html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
  color: #fff; 
}

.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-style {
  background-color: rgb(20, 20, 20);
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding-top: 3.5em;
  justify-content: center;
  align-items: flex-start;
}

.dashboard-style {
  background-color: rgb(20, 20, 20);
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding-top: 7em;
  justify-content: center;
  align-items: flex-start;
}

.content-style {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.soul-speak-heading {
  text-align: center;
  color: cornflowerblue;
  font-size: 70px;
}

.soul-speak-span {
  color: #4169e1;
}

.soul-speak-ai-span {
  color: #f0f0f0;
}

.soul-speak-ai-tagline {
  text-align: center;
  font-size: 28px;
  color: rgb(150, 150, 150);
}

.content-text {
  font-size: 1.25em;
  color: rgb(150, 150, 150)
}

.white-text {
  color: rgb(255, 255, 255);
  font-style: bold;
}

.italic-text {
  font-style: italic;
}

.footer-style {
  position: 'absolute';
  bottom: '0';
  width: '100%';
  padding: '1em 0';
  text-align: 'center';
  color: 'white';
}

.site-footer {
  color: white;
  text-align: center;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.signup-style {
  background-color: rgb(20, 20, 20);
  color: white;
  text-align: center;
}

.signup-header {
  color: royalblue; 
  /* text-align: left; */
}

.signup-subheader {
  color: white;
  /* text-align: left; */
}

.login-style {
  background-color: rgb(20, 20, 20);
  color: white;
}

.login-header {
  color: royalblue; 
  text-align: center;
}

.cornflowerblue-text {
  color: cornflowerblue;
  font-weight: bold;
}